/* Darkmode einstellungen */
@media (prefers-color-scheme: dark) {
    p {
        color: var(--font-hell);
    }
    
    header {
        background-color: var(--dark-sectionback);
    }

    .mainnavi a {
        color: var(--font-hell);
    } 

    .mainnavi a:hover {
        color: var(--dark-hovercolor);
    }
    
    .hero-content, .kontakt-content {
        background-color: var(--dark-sectionback);
    }

    .intro-section {
        background-color: var(--dark-ocker);
    }
    .intro-content {
        background-color: var(--font-dunkel);
    }

    .pflege-section {
        background-color: var(--dark-bige);
    }

    .plant-card {
        background-color: var(--font-dunkel);
    }

   .mainnavi.mainnavi-expanded {
    background-color: var(--dark-sectionback);
   }
}